<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    
    <div class="container">
        <div class="form">
            <% if(err) { %>
                <div class="error">
                    <p><%= err %></p>
                </div>
            <% } %>
            <% if(success) { %>
                <div class="error">
                    <p><%= success %></p>
                </div>
            <% } %>
            <form action="/" method="post">
                <label for="item">To do</label>
                <input type="text" name="item" id="item">
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="list">
            <% itemList.forEach(item => { %>
                <div class="item">
                    <% if(item.completed === 1) { %>
                        <p><s><%= item.to_do %></s></p>
                    <% } else { %>
                        <p><%= item.to_do %></p>
                    <% } %>
                    <div class="btns">
                        <a data-route="/update/<%= item.id %>" class="btn-update">Editar</a>
                        <a data-route="/delete/<%= item.id %>" class="btn-delete">Excluir</a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <script src="/js/app.js"></script>

</body>
</html>